extends layout

block content
  .container-fluid
    .form-group
      button.btn.btn-info(type='button', data-toggle='collapse', data-target='#up-panel') Panel 1
    br
    section#up-panel
      .row
        .col-md-4
          p
            b PetFeeder
          .form-group
            .checkbox-inline
              label
                input.suscribe(type='checkbox', data-toggle='toggle'  data-on="Suscribe" data-off="Unsuscribe" value="petFeeder")
            &nbsp
            button.btn.send(value="petFeeder", style='margin-top: -4px') Send
          .form-group
            label(for='actividad')  Actividad
            select#actividad.form-control
              option(value='active')  Active
              option(value='inactive')  Inactive
          .form-group
            label(for='edad') Edad
            input#edad.form-control(type='text')   
          .form-group         
            label(for='peso') Peso
            input#peso.form-control(type='text')            

        .col-md-4
          p
            b Regadera
          .form-group
            .checkbox-inline
              label
                input.suscribe(type='checkbox', data-toggle='toggle'  data-on="Suscribe" data-off="Unsuscribe" value="regadera")
            &nbsp
            button.btn.send(value="regadera", style='margin-top: -4px') Send
          .form-group
            label(for='accionRegadera') Accion
            select#accionRegadera.form-control
              option(value='0') Apagar
              option(value='1') Prender
              option(value='2') Alterar
              option(value='3') Temperatura Actual
              option(value='4') Tiempo  del Baño
          .form-group
            label(for='valorRegadera')  Temperatura
            input#valorRegadera.form-control(type='text')

        .col-md-4
          p
            b Domotica
          .form-group
            .checkbox-inline
              label
                input.suscribe(type='checkbox', data-toggle='toggle'  data-on="Suscribe" data-off="Unsuscribe" value="domotica")
            &nbsp
            button.btn.send(value="domotica", style='margin-top: -4px') Send
          .form-group
            label(for='accionDomotica') Accion
            select#accionDomotica.form-control
              option(value='0')   Apagar
              option(value='1')   Prender
          .form-group
            label(for='valorDomotica')  Hora
            input#valorDomotica.form-control(type='text')
      
      .row
        .col-md-4
          table.table.table-striped#tablePetFeeder
            thead
              tr
                th Hora
                th Actividad
                th Edad
                th Peso
            tbody#tbodypetFeeder   

        .col-md-4
          table.table.table-striped#tableShower
            thead
              tr
                th Hora
                th Acción
                th Valor
            tbody#tbodyregadera     

        .col-md-4
          table.table.table-striped#tableDomotica
            thead
              tr
                th Hora
                th Acción
                th Valor
            tbody#tbodydomotica
    br

    .form-group     
      button.btn.btn-info(type='button', data-toggle='collapse', data-target='#down-panel') Panel 2
  //
    section#down-panel
      .row
        .col-md-4
          p
            b Carro Autonomo
          .form-group
            .checkbox-inline
              label
                input.suscribe(type='checkbox', data-toggle='toggle'  data-on="Suscribe" data-off="Unsuscribe" value="carroautonomo")
            &nbsp
            button.btn.send(value="carroautonomo", style='margin-top: -4px') Send
          .form-group
            label(for='duracionViaje') Duracion 
            input#duracionViaje.form-control(type='text')

        .col-md-8
          p
            b 
          .form-group
            .checkbox-inline
              label
                input.suscribe(type='checkbox', data-toggle='toggle'  data-on="Suscribe" data-off="Unsuscribe" value="quickBus")
            &nbsp
            button.btn.send(value="quickBus", style='margin-top: -4px') Send
        .col-md-4
          .form-group
            label(for='camion') Camión 
            input#camion.form-control(type='text')            
          .form-group
            label(for='ano') Año
            input#ano.form-control(type='text')
          .form-group
            label(for='mes') Mes 
            input#mes.form-control(type='text')            
          .form-group
            label(for='dia') Día 
            input#dia.form-control(type='text')
          .form-group
            label(for='fecha') Fecha 
            input#fecha.form-control(type='text')            
          .form-group
            label(for='hora') Hora 
            input#hora.form-control(type='text')
        .col-md-4
          .form-group
            label(for='parada') Parada 
            input#parada.form-control(type='text')            
          .form-group
            label(for='longitud') Longitud 
            input#longitud.form-control(type='text')
          .form-group
            label(for='latitud') Latitud 
            input#latitud.form-control(type='text')            
          .form-group
            label(for='pasajeros') Pasajeros 
            input#pasajeros.form-control(type='text')
          .form-group
            label(for='subida') Subida 
            input#subida.form-control(type='text')            
          .form-group
            label(for='bajada') Bajada 
            input#bajada.form-control(type='text')
            
      .row
        .col-md-4
          table.table.table-striped#tableCarroAutonomo
            thead
              tr
                th Hora
                th Duracion
            tbody#tbodycarroautonomo       

        .col-md-8
          table.table.table-striped#tableQuickBus
            thead
              tr
                th Hora
                th Camión
                th Año
                th Mes
                th Día
                th Fecha
                th Hora
                th Parada
                th Longitud
                th Latitud
                th Pasajeros
                th Subida
                th Bajada
            tbody#tbodyQuickBus    

  script(src='./javascripts/browserMqtt.js')
  script(type='text/javascript').
    var topic;
    var ip  = "#{process.env.broker}" ||  "127.0.0.1:1884";
    var client  = mqtt.connect("ws://"  + ip);  //  you add a ws:// url here
    var accionRegadera = { 
                          "0" : "Apagar",
                          "1" : "Prender",
                          "2" : "Alterar",
                          "3" : "Temp. Actual",
                          "4" : "Duracion"
                          };
    var accionDomotica = { 
                          "0" : "Apagar",
                          "1" : "Prender"
                          };
    var tables = {};
    
    $(document).ready(function(){
        tables['petFeeder'] = $('#tablePetFeeder').DataTable();
        tables['regadera'] = $('#tableShower').DataTable();
        tables['domotica'] = $('#tableDomotica').DataTable();
        tables['carroautonomo'] = $('#tableCarroAutonomo').DataTable();
        tables['quickBus'] = $('#tableQuickBus').DataTable();
    });
    
    $('.suscribe').on('change',  function()  {
      var topic = $(this).val();
      var action = $(this).prop('checked');
      if (action) {
        console.log('Suscribe', topic)
        client.subscribe(topic);
      } else {
        console.log('UnSuscribe')
        client.unsubscribe(topic);
      }
    });        
    
    $('.send').on('click',  function()  {
      var topic = $(this).val();
      var json  = creatingJSON(topic);
      client.publish(topic, JSON.stringify(json));
    });

    client.on("message",  function  (topic, payload)  {
      console.log([topic, payload].join(":  "));
      console.log("Payload", JSON.parse(payload));
      refreshTable(topic, JSON.parse(payload));
    });

    function refreshTable(topic, json){
      var array = [new Date().toLocaleString()];
      for (var i in json) {
        array.push(json[i])
      }
      tables[topic].row.add(array).draw();
    }

    function  creatingJSON(topic){
      var json  = {};

      switch  (topic) {
        case  'regadera':
          json['Accion']  = Number($('#accionRegadera').val());
          json['Valor'] = $('#valorRegadera').val();
          break;

        case  'domotica':
          json['Accion']  = Number($('#accionDomotica').val());
          json['Valor'] = $('#valorDomotica').val();                    
          break;        

        case  'carroautonomo':
          json['duracionViaje'] = $('#duracionViaje').val();
          break;        

        case  'quickBus':
          json['camion'] = $('#camion').val();
          json['ano'] = $('#ano').val();
          json['mes'] = $('#mes').val();
          json['dia'] = $('#dia').val();
          json['fecha'] = $('#fecha').val();
          json['hora'] = $('#hora').val();
          json['parada'] = $('#parada').val();
          json['longitud'] = $('#longitud').val();
          json['latitud'] = $('#latitud').val();
          json['pasajeros'] = $('#pasajeros').val();
          json['subida'] = $('#subida').val();
          json['bajada'] = $('#bajada').val();
          break;

        case  'petFeeder':
          json['Actividad'] = $('#actividad').val();
          json['Edad']  = $('#edad').val();
          json['Peso']  = $('#peso').val();
          json['Accion']  = "0";
          break;

        default:
          break;
      }

      return  json;
    }
